body {
    
    .all-wrap {
        flex-grow: 1;
        white-space: nowrap;

        .tasks-holder {
            display: flex;

            .categori-tasks-holder
                {

                .category {

                }

                .tasks {

                    .task {

                    }
                }
            }
        }
    }

}
